#
# Normal rules
#
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.patch
*.gcno

*_test

CMakeCache.txt
*.cmake
Makefile
ngtembed
ngtembed_test


bldosx/
CMakeFiles/
Testing/
libuseful/CMakeFiles/